body {
  text-align: center;
  padding: 0 25px;
  font-family: arial, sans-serif;
}

#main, #chats {
  width: 80%;
  max-width: 800px;
  
  margin: 0px auto;
  text-align: left;
  background: white;
}

#main .menu {
  position: absolute;
  top:0;
  left:0;
  padding: 20px;
}
#main h1 {
  margin-top: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  margin-bottom: 5px;
}

#main h1 span {
  font-style:italic;
}

#main ul {
  padding-left: 20px;
}

#main .error {
  border: 1px solid red;
  background: #FDEFF0;
  padding: 20px;
}

#main .success {
  margin-top: 25px;
}

select{
  width: 200px;
}
#main .success code {
  font-size: 12px;
  color: green;
  line-height: 13px;
}

.menuItem{
  margin: 10px 0;
}

form {
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px;
}

form input[type=text] {
  margin-right: 10px;
  width: 70%;
  font-size: 12px;
  padding: 5px;
}

.inputWrapper{
  width: 100%;
  position: relative;
  vertical-align: top;
  margin-bottom: 40px;
}
#message{
  width: 88%;
  border:0;
  font-size: 22px;
  padding: 10px;
  margin-right: 45px;
  border-bottom: 1px solid #c0c0c0;
}

input:focus, button:focus, submit:focus{
  outline: none;
  font-weight: bold;
}
.submit, .btn{
  right:0;
  background: #000;
  border-radius: 5px;
  top: 20px;
  color: #fff;
  font-size: 12px;
  padding: 10px;
}
.submit {
  position: absolute;
}
.submit:hover, .btn:hover{
  background: #0B93F6;
  cursor: pointer;
}
.chat {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee;
}

.chat .username {
  font-weight: 800;
}

.chat:hover {
  background-color: #ddd;
}

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
}



.inputWrapper .col {
  display: inline-block;
}

body {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: normal;
}

section {
  max-width: 450px;
  margin: 50px auto;
}
section div {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
}
section div:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
clear: both;
}

.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  transform-origin: 100% 100%;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
}
.from-me:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-me:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.from-them {
  position: relative;
  padding: 10px 20px;
  transform-origin: 0% 100%;
  background: #E5E5EA;
  color: #333;
  border-radius: 25px;
  float: left;
}
.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.bubble {
  margin: 10px 0;
  animation: expand .25s ease-in;
}

.bubble .message{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10; /* number of lines to show */
  line-height: X;        /* fallback */
  max-height: X*10;       /* fallback */
}
.bubble .date{
  font-size: 10px;
  position: absolute;
  top: -15px;
  white-space: nowrap;  
  color: #c0c0c0;
}
.message .username{
  font-size: 12px;
}

.message .messageBody{
  font-size: 14px;
}

.friend, .friend::before {
  background-color: rgb(241, 170, 37);  
  border-color: rgb(241, 170, 37);  
}

.beFriend {
  filter: grayscale(100%);
}

.beFriend:hover {
  cursor: pointer;
  filter: hue-rotate(90deg);
}

.friend .beFriend {
  filter: saturate(9);
}

.emojiPickerIcon {
  right: 46px;
}
.emojiPicker section {
  margin: 0px 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}


@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}